:root {
  --bg-color: rgba(234, 225, 211, 1);
  --text-color: rgba(201, 45, 31, 1);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

p,
h2 {
  margin: 0;
}

h2 {
  margin-bottom: 10px;
}

#content,
.contentHeader,
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeContent {
  width: 80%;
  border-radius: 25px;
  border: 1px solid var(--text-color);
}

#homeContent > div {
  margin-bottom: 75px;
}

.imgContainer > img {
  border-radius: 50%;
}

.contentIntro {
  text-align: center;
}

.contentIntro > * {
  margin-bottom: 50px;
}
