:root {
  --bg-color: rgba(234, 225, 211, 1);
  --text-color: rgba(201, 45, 31, 1);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 18px;
}

p,
h2 {
  margin: 0;
}

h2 {
  margin-bottom: 10px;
}

#content,
.contentHeader,
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeContent,
.menuContent {
  width: 80%;
}

#homeContent > div,
.contentHeader {
  margin-bottom: 75px;
}

.imgContainer > img {
  border-radius: 50%;
}

.contentIntro,
.contentHour,
.contentLocation,
.menuContent {
  text-align: center;
}

.contentIntro > * {
  margin-bottom: 50px;
}

#firstMenuText,
.menuName,
.menuImage {
  margin-bottom: 50px;
}
