:root {
  --bg-color: rgba(234, 225, 211, 1);
  --text-color: rgba(201, 45, 31, 1);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 18px;
}

p,
h2 {
  margin: 0;
}

h2 {
  margin-bottom: 10px;
}

#content,
.contentHeader,
.imgContainer,
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeContent,
.menuContent {
  width: 80%;
}

#homeContent > div,
.contentHeader,
header {
  margin-bottom: 75px;
}

img {
  border-radius: 50%;
  height: 225px;
  width: 225px;
}

.contentIntro,
.contentHour,
.contentLocation,
.menuContent {
  text-align: center;
}

.contentIntro > * {
  margin-bottom: 50px;
}

#firstMenuText,
.menuName,
.menuImage {
  margin-bottom: 50px;
}

button {
  height: 30px;
  width: 100px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 25px;
}

nav > button {
  margin-right: 25px;
}

button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

button:active {
  background-color: rgb(204, 146, 141);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  font-weight: bolder;
}
